<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
<div class="container">
    <a class="navbar-brand text-light fs-3">Wiesbaden</a>
    <span class="badge badge-primary text-primary fs-3">Temperature: {{ number }}</span>
</div>
</nav>
