{% include('base.html.twig') %}

{% block body %}
    {% include 'main/header.html.twig' with {'number': temp} %}

    <div class="container-fluid">
        {% include 'main/categories_list_form.html.twig' with {'categories': categories} %}
    </div>
{% endblock %}
