{% include('base.html.twig') %}

{% block body %}
    {% include 'main/header.html.twig' with {'number': temp} %}

    <div class="container-fluid">

        <table class="table">
        <thead>
            <tr>
            <th scope="col">Timestamp</th>
            <th scope="col">Resturant</th>
            </tr>
        </thead>
        <tbody>
        {% for selectedChoice in selectedChoices %}
            <tr>
                <td>{{selectedChoice.Timestamp | date('Y-m-d H:i:s')}}</td>
                <td>{{selectedChoice.resturant}}</td>
            </tr>
        {% endfor %}
        </tbody>
        </table>

    <button class="btn btn-primary"><a href="{{ path('app_main') }}" class="btn btn-primary">Back to form</a></button>

    </div>
{% endblock %}